.large-information {
    font-size: 3.5em;
    text-align: center;
    font-weight: 100;
}

.box-icon img {
    max-height: 100%;
}

.img-thumbnail {
    height: 32px;
}

.hashtag-hash {
    font-size: 0.8em;
    vertical-align: middle;
}